<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>

    $(document).ready(function() {
      setInterval(function() {
        cache_clear()
      }, 2500);
    });

    function cache_clear() {

        console.log("isReload: ", );
        let reload ={{ is_reload }};

        if (reload === 1){
            window.location.reload(true);
        }

      // window.location.reload(); use this if you do not remove cache
    }


    </script>


    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>


    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>

    <h1>
        Strona klienta
    </h1>

    <p>
        Dodaj plik z programem i przeslij do serwera, następnie serwer zwroci informacje czy program byl poprawny.
        Jesli tak to zostanie wyswietlony output programu
    </p>

    <hr>
    <br>

    <table>
        <form action = "http://localhost:5000/uploader" method = "POST"
            enctype = "multipart/form-data">

        <tr>
            <th>Plik: </th>
            <th><input type = "file" name = "file" /></th>
        </tr>
        <tr>
            <th>Przeslij: </th>
            <th><input type = "submit"/></th>
        </tr>

{#        <tr>#}
{#            <th>Client_id: </th>#}
{#            <th>{{ client_id }}</th>#}
{#        </tr>#}

        <input type = "hidden" name = "client_id" value={{ client_id }} />

        </form>
    </table>


    <br>
    <hr>
    <br>

    <div id="tableToUpdate">
        <table>
            <tr>
                <th>Informacja czy przeslany program byl poprawny</th>
                <th>
                    {{ is_compiled }}
                </th>
            </tr>

            <tr>
                <th>Output przeslanego programu</th>
                <th>
                    {{ output }}
                </th>
            </tr>

        </table>
    </div>

</body>
</html>