<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>


    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>

    <h1>
        Strona klienta
    </h1>

    <p>
        Dodaj plik z programem i przeslij do serwera
    </p>

    <hr>
    <br>

    <table>
        <form action = "http://localhost:5000/uploader" method = "POST"
            enctype = "multipart/form-data">

        <tr>
            <th>Plik: </th>
            <th><input type = "file" name = "file" /></th>
        </tr>
        <tr>
            <th>Przeslij: </th>
            <th><input type = "submit"/></th>
        </tr>

        <input type = "hidden" name = "client_id" value={{ client_id }} />

        </form>
    </table>

    <br>
    <hr>
    <br>


    <table>
        <tr>
            <th>Informacja czy przeslany program byl poprawny</th>
            <th>
                {{ is_compile }}
            </th>
        </tr>

        <tr>
            <th>Output przeslanego programu</th>
            <th>
                {{ output }}
            </th>
        </tr>

    </table>


</body>
</html>