<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>


    $(document).ready(function() {
      setInterval(function() {

            $.ajax({url: "http://localhost:5000/conectedClients", success: function(result){
                var json = jQuery.parseJSON(result);
                console.log("Length: ", json.length);

                var content = "";

                content += '<table>';
                content += '<tr>';
                content += '<th>\\</th>';
                content += '<th>Czy otrzymałem kod zrodlowy</th>';
                content += '<th>Czy program sie kompiluje</th>';
                content += '<th>Czy przeslalem program do klienta</th>';
                content += '<th>Output programu przeslanego programu</th>';
                content += '</tr>';

                for (var i = 0; i < json.length; i++) {
                    content += '<tr>';
                    content += '<th>' + i + '</th>';
                    content += '<th>' + json[i].is_server_has_program + '</th>';
                    content += '<th>' + json[i].is_compiled + '</th>';
                    content += '<th>' + json[i].is_check_by_server + '</th>';
                    content += '<th>' + json[i].program_output + '</th>';
                    content += '</tr>';
                }
                content += '</table>';

                $("#table_to_update").html(content);

            }});
      }, 1000);
    });


    </script>

    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>

    <meta charset="UTF-8">
    <title>Server</title>
</head>
<body>

    <h1>
        Strona serwera
    </h1>

    <p>
        Program serwera oczekuje na podlaczenie klienta i przeslany przez niego plik.
        Po otrzymaniu pliku sprawdza jego poprawnosc, jesli program jest poprawny to zwraca jego output.
    </p>

    <br>
    <hr>
    <br>

    <h3>
        Dane o przeslanych programach
    </h3>

    <br>

    <div id="table_to_update"></div>

    <br>
    <hr>
    <br>


</body>
</html>